*{ 
    padding: 0;
    margin: 0;
}
*::before,
*::after{ 
    margin: 0;
    padding: 0;
    box-sizing:inherit;
}
/* CELULAR VERTICAL */
@media (max-width:575.98px) and (orientation: portrait) {
    .slider-box img { 
        height: 100vh; 
        width: 100%; 
        object-fit: cover;
       
    }
    
}


.header{
    position: fixed;
    background-color: rgba(1, 1, 1, 0.5);
    top: 0;
    left: 0;
    right: 0;
    padding: 0px 10%;
    display: flex;
    align-items: center ;
    justify-content: space-between;
    z-index: 1000; 
} 
.nav ul{
    list-style: none; 

}
.header .nav ul li { 
    float: left;
    position: relative;
}
.header .nav ul li a{ 
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    padding: 25px; /*  espaciado entre el menu fijo*/
    display: block;
    transition: all .2s ease;
}
.header .nav ul li a:hover {
    background-color: #687985; 
    

} 
.header .nav ul li ul{ 
    position: absolute;
    right: 0;
    width: 200px;  /* esto es la medida del largo del menu desplegable */
    background-color: rgba(1, 1, 1, 0.5);
    display: none;
    color:#fff;
    
}
.header .nav ul li ul li a{ 
    font-size: 15px;
    text-transform: capitalize;
}


.header .nav ul li ul li{ 
    width: 100%;

}  

.header .nav ul li:hover > ul {
    display: initial;
 } 


#toggle,

.header label {
    display: none;
    cursor: pointer;    
}

.header label img{
    height: 30px;
    width: 30px;
    color: rgb(255, 255, 255);
} 
/* Para computaadora*/
@media(max-width:950px){ 
    .header label{ 
        display: initial;    
        left: 0;  
    }
    .header{
        padding: 20px 10%;  /* modificar  con esto quedo fijo el header con las opciones*/
        left: 0;
        position: absolute;
    }

    .header .nav{
        position: absolute;
        top: 100%;                  
        left: 0;
        background-color: rgba(1, 1, 1, 0.5);
        display: none;
    }   
    .header .nav ul li{
        width: 100%;

    }
    .header .nav ul li a{
        padding: 8px 30px 8px 10%;
    
    } 
    .header .nav ul li ul{
        position: relative ;
        width: 100%;
        
        
    
    }
    .header .nav ul li ul li{ 
        background-color: rgba(1, 1, 1, 0.5);


    }

    #toggle:checked ~ .nav{ 
        display: block;
        left: 0;

    } 
   
}

@media (min-width:882px) { 
#toggle

.slider-box{ 
    width: 100%;
    height: auto;
    margin: 50px auto 0;
}

.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation:slide 15s infinite alternate ease-in-out;
}

.slider-box li{
    width: 100%;
    list-style: none;
    position: relative;
}

.slider-box img{
    width: 100%;
    height: 100vh;
}

@keyframes slide {
    0% { margin-left: 0; }
    20% { margin-left: 0; }

    25% { margin-left: -100%;}
    45% { margin-left: -100%;}

    50% { margin-left: -200%;}
    70% { margin-left: -200%;}

    75% { margin-left: -300%;}
    100% { margin-left: -300%;}
}
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: lightgrey;
    font-family: sans-serif;
    padding: 0; 
    overflow: hidden;
}   