/*Tamaños*/

/*Telefonos*/
@media (min-width:374.98px){

.ContenedorGeneral{
    width: 100%;
}
/*TextoHeader*/

h1{
    font:A;
    color:#31404b;
    font-weight: 700;
    font-size: 2em;
}
.titulo1{
    margin-left: 12%;
    margin-right: 12%;
    position: absolute;
    float: right;
    margin-top: -2em;
    font-family: A;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    color:#ffffff;
    width: 0;
    border-right: 2px solid rgba(0,0,0,0);
    animation: animacionIntro 5s steps(8) 1s infinite normal;
    
}
@keyframes animacionIntro{
    from{
        width: 100%;
        border-right: none;
    }
    to{
        width:100%;
        border-right:none;
    }
}

/*BotonLogo*/
button{
    background-color: transparent;
    border: 0;
    margin-left: 10%;
    margin-right: 10%;
}
button img{
    align-items: center;
    transition-duration:0.5;
    padding: 0px 0px;
    display: inline-block;
    border: 0;
    margin:0;
    cursor: pointer;
    height: 50%;
    width: 50%;
    background-color: transparent;
    background-repeat: no-repeat;
    object-fit: fill;
    margin-top: 3em;
    margin-left: 10em;
    position: relative;
}
.button:hover{
    color:#000000;
    opacity: 0.5;
}

/*Evitar scroll horizontal*/
html, body{
    max-width: 100%;
    overflow-x: hidden;
}

/*Barra de seleccion*/

hr{
    margin-top: 10%;
    margin-bottom: 0%;
}
.BarraSeleccion{
    background-color: rgba(0, 0, 0, 0.5);
}
.Li{
    float:left;
}

nav a{
    width:100px;
    display: block;
    padding: 15px 20px;

}
header{
    background-color: aliceblue;
    font-size: 20px;
    margin-top: -2em;
    margin-left: -5rem;
    margin-right:-5rem;
}
.Materias{
    border: #31404b;
    border-width: 10px;
    float: left;
    margin-left:2em;
    background-color: rgba(255, 0, 0, 0.6);
    text-align: center;
    padding-top: 11px;
    padding-bottom: 19px;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}
.Materias{
    color: aliceblue;
    text-decoration: none;
    display: block;
}
.MenuHorizontal{
    list-style: none;
    display: flex;
}
.MenuHorizontal{
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
    padding-left: 0em;
}
.MenuHorizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: aliceblue;
    text-decoration: none;
}
.MenuHorizontal >li:hover{
    background-color: rgba(255, 0, 0, 0.6);
}
.MenuVertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
}
.MenuHorizontal > li:hover .MenuVertical{
    display: block;
}
.MenuVertical > li:hover{
    background-color: rgba(255, 0, 0, 0.5);
}
.MenuVertical > li a{
    text-align: left;
    display: flex;
    color: aliceblue;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}

/*galeria*/

.container{
    margin-top: 5em;
    margin-left:2px;
    margin-right:2px;
    width: 800px;
    padding: 0px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
    position: relative;
    width:930px;
    height: 600px;
}
  
ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:fff;
}
  
ul.slider li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
ul.slider li:first-child {
    opacity: 1;
}
  
ul.slider li:target {
    opacity: 1;
}
  
.menu{
    margin-top: 3px;
    margin-right: -13rem;
    text-align: center;

}
  
.menu li{
    display: inline-block;
    text-align: center;
}
  
.menu li a{
    display: inline-block;
    color:white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 1px;
    height: 1px;
    font-size: 20px;
    border-radius: 100%;
}
.menu li a:hover{
    background-color: red;
}
}

















/*Tablets*/
@media (min-width:767.98px){

.ContenedorGeneral{
    width: 100%;
}
/*TextoHeader*/

h1{
    font:A;
    color:#31404b;
    font-weight: 700;
    font-size: 2em;
}
.titulo1{
    position: absolute;
    float: right;
    margin-top: -em;
    font-family: A;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    color:#ffffff;
    width: 0;
    border-right: 2px solid rgba(0,0,0,0);
    animation: animacionIntro 5s steps(8) 1s infinite normal;
    
}
@keyframes animacionIntro{
    from{
        width: 100%;
        border-right: none;
    }
    to{
        width:100%;
        border-right:none;
    }
}

/*BotonLogo*/
button{
    background-color: transparent;
    border: 0;
}
button img{
    transition-duration:0.5;
    padding: 0px 0px;
    display: inline-block;
    border: 0;
    margin:0;
    cursor: pointer;
    height: 50%;
    width: 50%;
    background-color: transparent;
    background-repeat: no-repeat;
    object-fit: fill;
    margin-top: 3em;
    margin-left: 4em;
    position: relative;
}
.button:hover{
    color:#000000;
    opacity: 0.5;
}


/*Barra de seleccion*/

hr{
    margin-bottom: 0;
    margin-top: 0;
}
.BarraSeleccion{
    background-color: rgba(0, 0, 0, 0.5);
}
.Li{
    float:left;
}

nav a{
    width:100px;
    display: block;
    padding: 15px 20px;

}
header{
    background-color: aliceblue;
    font-size: 20px;
    margin-top: -2em;
    margin-left: 0%;
    margin-right: 0%;
}
.Materias{
    border: #31404b;
    border-width: 10px;
    float: left;
    margin-left:2em;
    background-color: rgba(255, 0, 0, 0.6);
    text-align: center;
    padding-top: 11px;
    padding-bottom: 19px;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}
.Materias{
    color: aliceblue;
    text-decoration: none;
    display: block;
}
.MenuHorizontal{
    list-style: none;
    display: flex;
}
.MenuHorizontal{
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
    padding-left: 0em;
}
.MenuHorizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: aliceblue;
    text-decoration: none;
}
.MenuHorizontal >li:hover{
    background-color: rgba(255, 0, 0, 0.6);
}
.MenuVertical{
    z-index: 1;
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
}
.MenuHorizontal > li:hover .MenuVertical{
    display: block;
}
.MenuVertical > li:hover{
    background-color: rgba(255, 0, 0, 0.6);
}
.MenuVertical > li a{
    text-align: left;
    display: flex;
    color: aliceblue;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}

/*galeria*/

.container{
    margin-top: 1%;
    margin-left:0%;
    margin-right:0%;
    width: 800px;
    padding: 0px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
    position: relative;
    width:930px;
    height: 600px;
}
  
ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:ffffff;
}
  
ul.slider li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: 0%;
    margin-left: 0%;
}
  
ul.slider li:first-child {
    opacity: 1;
}
  
ul.slider li:target {
    opacity: 1;
}
  
.menu{
    margin-top: 3px;
    margin-left: 0%;
    text-align: center;

}
  
.menu li{
    display: inline-block;
    margin-right: 2%;
    text-align: center;
}
  
.menu li a{
    display: inline-block;
    color:white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 1px;
    height: 1px;
    font-size: 20px;
    border-radius: 100%;
}
.menu li a:hover{
    background-color: red;
}
}



















/*PC*/
@media (min-width:991.98px){
/*TextoHeader*/

.titulo1{
    font-family: a;
    text-align: right;
    display: flex;
    position: relative;
    font-size: 0.9em;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    color: #ffffff;
    width: 0;
    border-right: 2px solid rgba(0, 0, 0, 0);
    animation: animacionIntro 1s steps(8) 1s 1 normal both;
}
@keyframes animacionIntro{
    from{
        width: 0%;
    }
    to{
        width: 80%;
        border-right: 2px solid;
        border-right: none;
    }
}

/*BotonLogo*/
button{
    float: inline-start;
    background-color: transparent;
    border: 0;
}
button img{
    transition-duration:0.5;
    padding: 0px 0px;
    display: inline-block;
    border: 0;
    margin:0;
    cursor: pointer;
    height: 15em;
    width: 15em;
    background-color: transparent;
    background-repeat: no-repeat;
    object-fit: fill;
    margin-top: 3em;
    margin-left: -10em;
    position: relative;
}
.button:hover{
    color:#000000;
    opacity: 0.5;
}

/*Body*/

.ContenedorGeneral{
    width: 100%;
}

body{
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

/*divisor horizontal*/

hr{
    margin-top: 0%;
    margin-bottom: 0%;
}
.divisor-txt{
    margin-top:5em;
    margin-bottom: 5em;
}

/*Barra de seleccion*/

.BarraSeleccion{
    background-color: rgba(0, 0, 0, 0.5);
}
.Li{
    float:left;
}

nav a{
    width:100px;
    display: block;
    padding: 15px 20px;

}
header{
    background-color: aliceblue;
    font-size: 20px;
    margin-top: -2em;
    margin-left: 0%;
    margin-right:0%;
}
.Materias{
    border: #31404b;
    border-width: 10px;
    float: left;
    margin-left:2em;
    background-color: rgba(255, 0, 0, 0.6);
    text-align: center;
    padding-top: 11px;
    padding-bottom: 19px;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}
.Materias{
    color: aliceblue;
    text-decoration: none;
    display: block;
}
.MenuHorizontal{
    list-style: none;
    display: flex;
}
.MenuHorizontal{
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
    padding-left: 0em;
}
.MenuHorizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: aliceblue;
    text-decoration: none;
}
.MenuHorizontal >li:hover{
    background-color: rgba(255, 0, 0, 0.6);
}
.MenuVertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
}
.MenuHorizontal > li:hover .MenuVertical{
    display: block;
}
.MenuVertical > li:hover{
    background-color: rgba(255, 0, 0, 0.5);
}
.MenuVertical > li a{
    text-align: left;
    display: flex;
    color: aliceblue;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}

/*galeria*/

.container{
    margin-top: 5em;
    margin-left:20%;
    width: 800px;
    padding: 30px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
    position: relative;
    width: 1000px;
    height: 600px;
}
  
ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:fff;
}
  
ul.slider li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
ul.slider li:first-child {
    opacity: 1;
}
  
ul.slider li:target {
    opacity: 1;
}
  
.menu{
    margin-top: 3px;
    margin-right: -13rem;
    text-align: center;

}
  
.menu li{
    display: inline-block;
    text-align: center;
}
  
.menu li a{
    display: inline-block;
    color:white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 1px;
    height: 1px;
    font-size: 20px;
    border-radius: 100%;
}
.menu li a:hover{
    background-color: red;
}
.slider{
    transition: .5s;
    opacity: 75%;
}
.slider:hover{
    position: relative;
    width: 1050px;
    height: 650px;
    transition: .5s;
    opacity: 100%;
}
}